@media (min-width: 992px) {
	
div#logo {
	margin: 1em;
}

div#tools {
	margin: 3em 1em 1em;
	float: right;

	span.tool-item {
	color: #fff;
	padding: .5em;
}
	span.tool-item a:hover {
		color: #abaaab;
		text-decoration: underline;	
	}
}

.nav>li>a {
	padding: 10px 20px;
}

/* typography */

h1, h2, h3, h4, h5 {
	font-weight: 400;
	margin: .5em 0em 1em;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.2em;
}
h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

.jumbotron p.faq {
	font-size: .925em;
}

span#down {
	margin-left: .5em;
	font-weight: bold;
}

/* specialized */
div#q {
	width: 54px;
	height: 56px;
	background-image: url('../images/q_a.png');
	background-repeat: no-repeat;
	margin-right: 12px;
}

div#a {
	width: 54px;
	height: 56px;
	background-image: url('../images/q_a.png');
	background-repeat: no-repeat;
	background-position: 0 -80px;
	margin-right: 12px;
}

/* footer */

footer {
	padding: 1em;
	margin-top: 1em;

	h2 {
	margin-bottom: .85em;
	}

	 ul {
	padding: 0px;
	li {
		list-style: none;
	}
	li>a {
		color: #adadaf;
	}
	li>a:hover {
		color: #fff;
	}
	}
}


}