/* common elements to all breakpoints */

$primary: #219855;

body {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 160%;
	color: #686868;
}

header {
	background-color: #2b3e50;

	span.tool-item {
	color: #fff;
		a {
			text-decoration: none;
			color: #fff;
		}
	}
}

#logo>p {
	font-family: 'OpenSans-Light', 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	size: 16px;
	color: #fff;
	line: 138%;
	margin-top: .5em;
}

/* colors */
.primary {
	background-color: #2b3e50;
	color: #fff;
}

.btn-default {
	background-color: $primary;
	color: #fff;
		padding: 6px 8px;
		margin: 8px;
		border: none;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default {
		background-color: #243340;
	border: none;
	a.btn-default {
		background-color: $primary;
		padding: 6px 8px;
		margin: 8px 8px 0px 8px;
		border: none;
		}
	a.btn-default:hover {
		background-color: #e6e6e6;
		}
	}

navbar-nav>a:hover {
	color: #abaaab;
}

li.active>a {
	color: #abaaab;
	background-color: #243340;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #abaaab;
}

.navbar-default .navbar-nav>.active>a, .navbar-default, .navbar-default .navbar-nav>.active>a:focus {
		background-color: #243340;
		color: #fff;
	}

.navbar-default .navbar-nav > li > a.btn-default:hover {
	background-color: #e6e6e6;
	color: #000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	background-color: #2b3e50;
}

.navbar-default .navbar-nav > .active > a:hover {
	color: $primary;
}

.hardtimes--dig-deeper-nav .active {
   color: $primary;
}

.hardtimes--dig-deeper-nav .active a {
   color: $primary;
   font-style: italic;
   background-color: #fff;}

footer p, footer li {
	color: #adadaf;
	}
footer a {
  	cursor: pointer;  
  	}

footer {
	background-color: #2b3e50;
	color: #fff;
}

.hardtimes--dig-deeper-nav .active {
	color: $primary;
	a {
		font-style: italic;
	}
}

ul {
	padding: 0px;
	margin-top: 1em;
	list-style-position: outside;
	padding-left: 20px;
}

p {
	margin-top: 1em;
}

div.leftNav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-color: #fff;

	li>a {
		display: block;
		padding: 12px;
		border: 1px solid #abaaab;
	}
}

.hardtimes--branding {
  font-style: italic;
}

.hardtimes--section-title {
  text-transform: uppercase;
}

span.sw {
	color: $primary;
	font-weight: bold;
}

span.sw:hover {
	cursor: pointer;
}

/* see: https://trello.com/c/4tGPm5Ne/16-update-links-in-footer-to-use-pointer-cursor */
footer a {
  cursor: pointer;  
}


/*Stuff Jason added */
/* see: https://trello.com/c/o87aKo7H/44-make-bullet-points-justified */
.hardtimes--subsection ul li {
 list-style-position: outside;
 margin-left: 20px; 
}

/* @todo: Brad, #219855 is a green color, probably has a scss variable? */
.hardtimes--dig-deeper-nav .active {
   color: $primary;
}

.hardtimes--dig-deeper-nav .active a {
   color: $primary;
   font-style: italic;
   background-color: #fff;
}

/* https://trello.com/c/H0NrlySv/49-add-breadcrumb-trail */
.hardtimes--breadcrumb ul li {
    display: inline;
    
}

/* Uppercase the first letter of each breadcrumb section to be uppercase */
.hardtimes--breadcrumb ul li {
    text-transform: capitalize;
}

/* show a slash before each sections of the breadcrumb */
.hardtimes--breadcrumb ul li:before {
    content: " / ";
}

/* but don't show a slash for the first or second breadcrumb section */
.hardtimes--breadcrumb ul li:first-child:before, .hardtimes--breadcrumb ul li:nth-child(2):before {
    content: "";
}

/* hide the first breadcrumb element, which is always Home */
.hardtimes--breadcrumb ul li:first-child {
  display: none;
}





@import 'desktop';
@import 'mobile';

