@charset "UTF-8";
/* common elements to all breakpoints */
/* line 5, ../scss/main.scss */
body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #686868;
}

/* line 12, ../scss/main.scss */
header {
  background-color: #2b3e50;
}
/* line 15, ../scss/main.scss */
header span.tool-item {
  color: #fff;
}
/* line 17, ../scss/main.scss */
header span.tool-item a {
  text-decoration: none;
  color: #fff;
}

/* line 24, ../scss/main.scss */
#logo > p {
  font-family: 'OpenSans-Light', 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  size: 16px;
  color: #fff;
  line: 138%;
  margin-top: .5em;
}

/* colors */
/* line 33, ../scss/main.scss */
.primary {
  background-color: #2b3e50;
  color: #fff;
}

/* line 38, ../scss/main.scss */
.btn-default {
  background-color: #219855;
  color: #fff;
  padding: 6px 8px;
  margin: 8px;
  border: none;
}

/* line 46, ../scss/main.scss */
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

/* line 51, ../scss/main.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/* line 55, ../scss/main.scss */
.navbar-default {
  background-color: #243340;
  border: none;
}
/* line 58, ../scss/main.scss */
.navbar-default a.btn-default {
  background-color: #219855;
  padding: 6px 8px;
  margin: 8px 8px 0px 8px;
  border: none;
}
/* line 64, ../scss/main.scss */
.navbar-default a.btn-default:hover {
  background-color: #e6e6e6;
}

/* line 69, ../scss/main.scss */
navbar-nav > a:hover {
  color: #abaaab;
}

/* line 73, ../scss/main.scss */
li.active > a {
  color: #abaaab;
  background-color: #243340;
}

/* line 78, ../scss/main.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #abaaab;
}

/* line 82, ../scss/main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #243340;
  color: #fff;
}

/* line 87, ../scss/main.scss */
.navbar-default .navbar-nav > li > a.btn-default:hover {
  background-color: #e6e6e6;
  color: #000;
}

/* line 92, ../scss/main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #2b3e50;
}

/* line 96, ../scss/main.scss */
.navbar-default .navbar-nav > .active > a:hover {
  color: #219855;
}

/* line 100, ../scss/main.scss */
.hardtimes--dig-deeper-nav .active {
  color: #219855;
}

/* line 104, ../scss/main.scss */
.hardtimes--dig-deeper-nav .active a {
  color: #219855;
  font-style: italic;
  background-color: #fff;
}

/* line 108, ../scss/main.scss */
​
footer {
  background-color: #2b3e50;
  color: #fff;
}
/* line 116, ../scss/main.scss */
​
footer p, ​
footer li {
  color: #adadaf;
}
/* line 119, ../scss/main.scss */
​
footer a {
  cursor: pointer;
}

/* line 124, ../scss/main.scss */
.hardtimes--dig-deeper-nav .active {
  color: #219855;
}
/* line 126, ../scss/main.scss */
.hardtimes--dig-deeper-nav .active a {
  font-style: italic;
}

/* line 133, ../scss/main.scss */
ul {
  padding: 0px;
  margin-top: 1em;
  list-style-position: outside;
  padding-left: 20px;
}

/* line 140, ../scss/main.scss */
p {
  margin-top: 1em;
}

/* line 144, ../scss/main.scss */
div.leftNav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-color: #fff;
}
/* line 150, ../scss/main.scss */
div.leftNav ul li > a {
  display: block;
  padding: 12px;
  border: 1px solid #abaaab;
}

/* line 157, ../scss/main.scss */
.hardtimes--branding {
  font-style: italic;
}

/* line 161, ../scss/main.scss */
.hardtimes--section-title {
  text-transform: uppercase;
}

@media (min-width: 992px) {
  /* line 3, ../scss/_desktop.scss */
  div#logo {
    margin: 1em;
  }

  /* line 7, ../scss/_desktop.scss */
  div#tools {
    margin: 3em 1em 1em;
    float: right;
  }
  /* line 11, ../scss/_desktop.scss */
  div#tools span.tool-item {
    color: #fff;
    padding: .5em;
  }
  /* line 15, ../scss/_desktop.scss */
  div#tools span.tool-item a:hover {
    color: #abaaab;
    text-decoration: underline;
  }

  /* line 21, ../scss/_desktop.scss */
  .nav > li > a {
    padding: 10px 20px;
  }

  /* typography */
  /* line 27, ../scss/_desktop.scss */
  h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: .5em 0em 1em;
  }

  /* line 32, ../scss/_desktop.scss */
  h1 {
    font-size: 2.8em;
  }

  /* line 36, ../scss/_desktop.scss */
  h2 {
    font-size: 2.2em;
  }

  /* line 39, ../scss/_desktop.scss */
  h3 {
    font-size: 1.8em;
  }

  /* line 43, ../scss/_desktop.scss */
  h4 {
    font-size: 1.4em;
  }

  /* line 47, ../scss/_desktop.scss */
  h5 {
    font-size: 1.2em;
  }

  /* line 51, ../scss/_desktop.scss */
  .jumbotron p.faq {
    font-size: .925em;
  }

  /* line 55, ../scss/_desktop.scss */
  span#down {
    margin-left: .5em;
    font-weight: bold;
  }

  /* specialized */
  /* line 61, ../scss/_desktop.scss */
  div#q {
    width: 54px;
    height: 56px;
    background-image: url("../images/q_a.png");
    background-repeat: no-repeat;
    margin-right: 12px;
  }

  /* line 69, ../scss/_desktop.scss */
  div#a {
    width: 54px;
    height: 56px;
    background-image: url("../images/q_a.png");
    background-repeat: no-repeat;
    background-position: 0 -80px;
    margin-right: 12px;
  }

  /* footer */
  /* line 80, ../scss/_desktop.scss */
  footer {
    padding: 1em;
    margin-top: 1em;
  }
  /* line 84, ../scss/_desktop.scss */
  footer h2 {
    margin-bottom: .85em;
  }
  /* line 88, ../scss/_desktop.scss */
  footer ul {
    padding: 0px;
  }
  /* line 90, ../scss/_desktop.scss */
  footer ul li {
    list-style: none;
  }
  /* line 93, ../scss/_desktop.scss */
  footer ul li > a {
    color: #adadaf;
  }
  /* line 96, ../scss/_desktop.scss */
  footer ul li > a:hover {
    color: #fff;
  }
}
@media (max-width: 991px) {
  /* line 3, ../scss/_mobile.scss */
  div#logo {
    margin: .5em;
  }

  /* line 8, ../scss/_mobile.scss */
  div#tools {
    margin: 1em 1em 1em;
  }
  /* line 11, ../scss/_mobile.scss */
  div#tools span.tool-item {
    color: #fff;
    padding: .5em;
  }

  /* typography */
  /* line 19, ../scss/_mobile.scss */
  h1, h2, h3, h4, h5 {
    font-weight: 600;
  }

  /* line 23, ../scss/_mobile.scss */
  h1 {
    font-size: 1.8em;
  }

  /* line 27, ../scss/_mobile.scss */
  h2 {
    font-size: 1.6em;
  }

  /* line 30, ../scss/_mobile.scss */
  h3 {
    font-size: 1.4em;
  }

  /* line 34, ../scss/_mobile.scss */
  h4 {
    font-size: 1.2em;
  }

  /* line 38, ../scss/_mobile.scss */
  h5 {
    font-size: 1em;
  }

  /* line 42, ../scss/_mobile.scss */
  footer ul {
    padding: 0px;
  }
  /* line 44, ../scss/_mobile.scss */
  footer ul li {
    list-style: none;
  }
  /* line 47, ../scss/_mobile.scss */
  footer ul li > a {
    color: #fff;
  }
  /* line 50, ../scss/_mobile.scss */
  footer ul li > a:hover {
    color: #abaaab;
  }
}
