/* common elements to all breakpoints */
/* line 3, ../scss/main.scss */
body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
}

/* line 9, ../scss/main.scss */
header {
  background-color: #2b3e50;
}
/* line 12, ../scss/main.scss */
header span.tool-item {
  color: #fff;
}
/* line 14, ../scss/main.scss */
header span.tool-item a {
  text-decoration: none;
  color: #fff;
}

/* colors */
/* line 22, ../scss/main.scss */
.primary {
  background-color: #2b3e50;
  color: #fff;
}

/* line 27, ../scss/main.scss */
.btn-default {
  background-color: #219855;
  color: #fff;
  padding: 6px 8px;
  margin: 8px;
  border: none;
}

/* line 35, ../scss/main.scss */
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

/* line 40, ../scss/main.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/* line 44, ../scss/main.scss */
.navbar-default {
  background-color: #243340;
  border: none;
}
/* line 47, ../scss/main.scss */
.navbar-default a.btn-default {
  background-color: #219855;
  padding: 6px 8px;
  margin: 8px 8px 0px 8px;
  border: none;
}
/* line 53, ../scss/main.scss */
.navbar-default a.btn-default:hover {
  background-color: #e6e6e6;
}

/* line 58, ../scss/main.scss */
navbar-nav > a:hover {
  color: #abaaab;
}

/* line 62, ../scss/main.scss */
li.active > a {
  color: #abaaab;
  background-color: #243340;
}

/* line 67, ../scss/main.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #abaaab;
}

/* line 71, ../scss/main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #243340;
  color: #fff;
}

/* line 76, ../scss/main.scss */
.navbar-default .navbar-nav > li > a.btn-default:hover {
  background-color: #e6e6e6;
  color: #000;
}

/* line 81, ../scss/main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #2b3e50;
}

/* line 85, ../scss/main.scss */
.navbar-default .navbar-nav > .active > a:hover {
  color: #219855;
}

/* elements */
/* line 91, ../scss/main.scss */
footer {
  background-color: #2b3e50;
  color: #fff;
}

/* line 96, ../scss/main.scss */
ul {
  padding: 0px;
  margin-top: 1em;
  list-style-position: inside;
}

/* line 102, ../scss/main.scss */
p {
  margin-top: 1em;
}

/* line 106, ../scss/main.scss */
div.leftNav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-color: #fff;
}
/* line 112, ../scss/main.scss */
div.leftNav ul li > a {
  display: block;
  padding: 12px;
  border: 1px solid #abaaab;
}

@media (min-width: 992px) {
  /* line 3, ../scss/_desktop.scss */
  div#logo {
    margin: 1em;
  }

  /* line 7, ../scss/_desktop.scss */
  div#tools {
    margin: 3em 1em 1em;
    float: right;
  }
  /* line 11, ../scss/_desktop.scss */
  div#tools span.tool-item {
    color: #fff;
    padding: .5em;
  }
  /* line 15, ../scss/_desktop.scss */
  div#tools span.tool-item a:hover {
    color: #abaaab;
    text-decoration: underline;
  }

  /* line 21, ../scss/_desktop.scss */
  .nav > li > a {
    padding: 10px 20px;
  }

  /* typography */
  /* line 27, ../scss/_desktop.scss */
  h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: .5em 0em 1em;
  }

  /* line 32, ../scss/_desktop.scss */
  h1 {
    font-size: 2.8em;
  }

  /* line 36, ../scss/_desktop.scss */
  h2 {
    font-size: 2.2em;
  }

  /* line 39, ../scss/_desktop.scss */
  h3 {
    font-size: 1.8em;
  }

  /* line 43, ../scss/_desktop.scss */
  h4 {
    font-size: 1.4em;
  }

  /* line 47, ../scss/_desktop.scss */
  h5 {
    font-size: 1.2em;
  }

  /* line 51, ../scss/_desktop.scss */
  .jumbotron p.faq {
    font-size: .925em;
  }

  /* line 55, ../scss/_desktop.scss */
  span#down {
    margin-left: .5em;
    font-weight: bold;
  }

  /* specialized */
  /* line 61, ../scss/_desktop.scss */
  div#q {
    width: 54px;
    height: 56px;
    background-image: url("../images/q_a.png");
    background-repeat: no-repeat;
    margin-right: 12px;
  }

  /* line 69, ../scss/_desktop.scss */
  div#a {
    width: 54px;
    height: 56px;
    background-image: url("../images/q_a.png");
    background-repeat: no-repeat;
    background-position: 0 -80px;
    margin-right: 12px;
  }

  /* footer */
  /* line 80, ../scss/_desktop.scss */
  footer {
    padding: 1em;
    margin-top: 1em;
  }
  /* line 84, ../scss/_desktop.scss */
  footer ul {
    padding: 0px;
  }
  /* line 86, ../scss/_desktop.scss */
  footer ul li {
    list-style: none;
  }
  /* line 89, ../scss/_desktop.scss */
  footer ul li > a {
    color: #fff;
  }
  /* line 92, ../scss/_desktop.scss */
  footer ul li > a:hover {
    color: #abaaab;
  }
}
@media (max-width: 991px) {
  /* line 3, ../scss/_mobile.scss */
  div#logo {
    margin: .5em;
  }

  /* line 8, ../scss/_mobile.scss */
  div#tools {
    margin: 1em 1em 1em;
  }
  /* line 11, ../scss/_mobile.scss */
  div#tools span.tool-item {
    color: #fff;
    padding: .5em;
  }

  /* typography */
  /* line 19, ../scss/_mobile.scss */
  h1, h2, h3, h4, h5 {
    font-weight: 600;
  }

  /* line 23, ../scss/_mobile.scss */
  h1 {
    font-size: 1.8em;
  }

  /* line 27, ../scss/_mobile.scss */
  h2 {
    font-size: 1.6em;
  }

  /* line 30, ../scss/_mobile.scss */
  h3 {
    font-size: 1.4em;
  }

  /* line 34, ../scss/_mobile.scss */
  h4 {
    font-size: 1.2em;
  }

  /* line 38, ../scss/_mobile.scss */
  h5 {
    font-size: 1em;
  }

  /* line 42, ../scss/_mobile.scss */
  footer ul {
    padding: 0px;
  }
  /* line 44, ../scss/_mobile.scss */
  footer ul li {
    list-style: none;
  }
  /* line 47, ../scss/_mobile.scss */
  footer ul li > a {
    color: #fff;
  }
  /* line 50, ../scss/_mobile.scss */
  footer ul li > a:hover {
    color: #abaaab;
  }
}
